In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('mother_father.csv')
df.head()

   Unnamed: 0  age         father         mother
0           6    0  Non Interview  Non Interview
1          26    0     Valid Skip             No
2           0    0             No             No
3           1    0             No             No
4           2    0             No             No

In [5]:
df['mother'].value_counts()

No               6976
Non Interview    1844
Yes                94
Don't Know         63
Refused             7
Name: mother, dtype: int64

In [ ]:
# non interview
# valid skip
# refused
# don't know
# no
# yes